<header >
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h1 class="logo">
          <a href="#">
            <img src="assets/img/logo.png" alt="logo">
          </a>
        </h1>
      </div>
      <div class="col-lg-4">
        <form class="search-form" action="#">
          <input type="search" placeholder="Try find somethink">
          <button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="user-block">
          <p class="user-block-welcome">Welcome, <a href="#">login</a> or <a href="#">register</a> for start !</p>
        </div>
      </div>
    </div>
  </div>
</header>
