<section class="login-holder">
  <div class="container">
    <div class="row is-flex">
      <div class="col-md-4 offset-md-8 login-block">
        <h1 class="logo">
          <a href="#">
            <img src="assets/img/logo-big.png" alt="logo">
          </a>
        </h1>
        <form (ngSubmit)="submitLoginForm($event)" class="login-form" [formGroup]="loginForm">
          <div class="login-btn-group">
            <button class="btn">Sign In</button>
            <button class="btn" routerLink="/register">Sign Up</button>
          </div>
          <input type="text" placeholder="Email" formControlName="email">
          <input type="text" placeholder="Username" formControlName="username">
          <input type="password" placeholder="Password" formControlName="password">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <input class="btn" type="submit" value="Login" >
        </form>
        <footer>
          <p>Frontend labs 2017</p>
        </footer>
      </div>
    </div>
  </div>
</section>
