<section class="login-holder">
  <div class="container">
    <div class="row is-flex">
      <div class="col-md-4 offset-md-8 login-block">
        <h1 class="logo">
          <a href="#">
            <img src="assets/img/logo-big.png" alt="logo">
          </a>
        </h1>

        <form class="login-form" (ngSubmit)="submitLoginForm()" [formGroup]="loginForm">

          <sellit-error [inputField]="loginForm.get('email')"
                        [inputErrors]="loginForm.get('email').errors" [errorDefs]="validationMessages">
            <input type="text" placeholder="Email" formControlName="email">
          </sellit-error>

          <sellit-error [inputField]="loginForm.get('password')"
                        [inputErrors]="loginForm.get('password').errors" [errorDefs]="validationMessages">
            <input type="password" placeholder="Password" formControlName="password">
          </sellit-error>

          <input class="btn" type="submit" value="Login">

          <span  class="help-block" *ngFor="let serverError of serverErrors">
            {{ serverError.key }} - {{ serverError.value }}
          </span>
        </form>
        <footer>
          <p>Frontend labs 2017</p>
        </footer>
      </div>
    </div>
  </div>
</section>
