.search-form{
  position: relative;
  margin: 16px 0 0;

  input[type="search"]{
    display: block;
    width: 100%;
    outline-offset: 0;
    padding: 0 22px;
    border: 0;
    border-bottom: 1px solid #00b3be;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;

    &:focus{
      outline: 0;
    }
  }

  .btn-search{
    font-size: 12px;
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 6px;

    &:focus{
      outline: 0;
    }

    .fa-search{
      color: #000;
    }
  }
}
