<sellit-header-of-page></sellit-header-of-page>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Add Product Page</h2>
      <div *ngIf="submitted">
        <h2>Thank You</h2>
      </div>
      <form (ngSubmit)="formSubmit()" [formGroup]="editForm" *ngIf="!submitted">
        <div formGroupName="passwordGroup" class="inner-form-group"
             [ngClass]="{'has-error': editForm.get('passwordGroup').errors}">
          <sellit-error [labelText]="'Password'"  [inputField]="editForm.get('passwordGroup.password')"
                        [inputErrors]="editForm.get('passwordGroup.password').errors" [errorDefs]="validationMessages">
            <input class="form-control" type="password" placeholder="Password (required)" formControlName="password">
          </sellit-error>
          <sellit-error [labelText]="'Confirm Password'"  [inputField]="editForm.get('passwordGroup.confirmPassword')"
                        [inputErrors]="editForm.get('passwordGroup.confirmPassword').errors" [errorDefs]="validationMessages">
            <input class="form-control" type="confirmPassword" placeholder="Confirm password (required)" formControlName="confirmPassword">
          </sellit-error>
          <!--<span class="help-block" *ngIf="(editForm.get('passwordGroup.confirmPassword').touched ||-->
                                           <!--editForm.get('passwordGroup.confirmPassword').dirty) &&-->
                                           <!--editForm.get('passwordGroup').errors">-->
            <!--Passwords do not match-->
          <!--</span>-->
        </div>
        <div class="form-group btn-group">
          <span>
             <button class="btn" type="submit" [disabled]="!editForm.valid">Submit</button>
          </span>
        </div>
      </form>
      <!--<p>Dirty: {{addProductForm.dirty}}</p>-->
      <!--<p>Touched: {{addProductForm.touched}}</p>-->
      <!--<p>Valid: {{addProductForm.valid}}</p>-->
      <!--<p>Value: {{addProductForm.value | json}}</p>-->
    </div>
  </div>
</div>
<sellit-footer-of-page></sellit-footer-of-page>
