<section class="login-holder">
  <div class="container">
    <div class="row is-flex">
      <div class="col-md-4 offset-md-8 login-block">
        <h1 class="logo">
          <a href="#">
            <img src="assets/img/logo-big.png" alt="logo">
          </a>
        </h1>
        <form name="" method="" action="" class="login-form">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Confirm password">
          <input class="btn" type="submit" value="Register">
        </form>
        <footer>
          <p>Frontend labs 2017</p>
        </footer>
      </div>
    </div>
  </div>
</section>
