<section class="chat">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="chat-title">
          Chat
          <span class="chat-seller">
            with
            <a class="chat-seller-name" href="#">
              Alis Kim
            </a>
            <span class="chat-seller-online">&nbsp;</span>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="chat-messages">
          <div class="chat-messages-inner">
            <div class="chat-messages-item chat-messages-item-seller">
              <div class="chat-messages-user-img">
                <img src="assets/img/user-image1.png" alt="User Image">
              </div>
              <div class="chat-messages-user-message">
                <span>One line chat message</span>
              </div>
            </div>
            <div class="chat-messages-item">
              <div class="chat-messages-user-img">
                <img src="assets/img/user-image2.png" alt="User Image">
              </div>
              <div class="chat-messages-user-message">
              <span>
                Multi line chat message. Some text for multi line message. What is your
                name? Oh, sorry. My bad. My name is Alis. Please send me your contacts.
                It may be your facebook page or something else.
              </span>
              </div>
            </div>
            <div class="chat-input">
              <textarea placeholder="Try some text here"></textarea>
              <button class="chat-button">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chat-connected">
          <p class="chat-connected-title">Connected</p>
          <div class="chat-connected-item">
            <div class="chat-connected-item-user">
              <div class="chat-connected-item-user-img">
                <img src="assets/img/user-image1.png" alt="User Image">
              </div>
              <span class="user-name">Kim Evans</span>
            </div>
          </div>
          <div class="chat-connected-item">
            <div class="chat-connected-item-user">
              <div class="chat-connected-item-user-img">
                <img src="assets/img/user-image2.png" alt="User Image">
              </div>
              <span class="user-name">Alis Kim</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
