<sellit-header-of-page></sellit-header-of-page>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Add Product Page</h2>
        <div *ngIf="submitted">
          <h2>Thank You</h2>
        </div>
        <form (ngSubmit)="formSubmit(); addProductForm.reset()" [formGroup]="addProductForm" *ngIf="!submitted">
          <sellit-error [labelText]="'Title'"  [inputField]="addProductForm.get('title')"
                        [inputErrors]="addProductForm.get('title').errors" [errorDefs]="validationMessages">
            <input class="form-control" type="text" placeholder="Title (required)" formControlName="title">
          </sellit-error>
          <sellit-error [labelText]="'Description'"  [inputField]="addProductForm.get('description')"
                        [inputErrors]="addProductForm.get('description').errors" [errorDefs]="validationMessages">
            <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
            <span class="help-block" *ngIf="!reachLimit">{{ this.restOfLength }} characters left</span>
          </sellit-error>
          <sellit-error [labelText]="'Price'"  [inputField]="addProductForm.get('price')"
                        [inputErrors]="addProductForm.get('price').errors" [errorDefs]="validationMessages">
            <input class="form-control" type="text" placeholder="Price (required)" formControlName="price">
          </sellit-error>
          <sellit-error [labelText]="'Photo'"  [inputField]="addProductForm.get('photo')"
                        [inputErrors]="addProductForm.get('photo').errors" [errorDefs]="validationMessages">
            <div class="file-container">
              Click here to upload the file
              <input type="file" multiple accept="image/*" formControlName="photo" (change)="addPhoto($event)">
            </div>
          </sellit-error>
        <div class="form-group btn-group">
          <span>
             <button class="btn" type="submit" [disabled]="!addProductForm.valid">Submit</button>
          </span>
          <span>
             <button class="btn" type="button" (click)="resetStateForm()">reset State</button>
          </span>
          <span>
             <button class="btn" type="button" (click)="setValueForm()">Set Value</button>
          </span>
          <span>
             <button class="btn" type="button" (click)="patchValueForm()">Patch Value</button>
          </span>
        </div>
      </form>
      <!--<p>Dirty: {{addProductForm.dirty}}</p>-->
      <!--<p>Touched: {{addProductForm.touched}}</p>-->
      <!--<p>Valid: {{addProductForm.valid}}</p>-->
      <!--<p>Value: {{addProductForm.value | json}}</p>-->
    </div>
  </div>
</div>
<sellit-footer-of-page></sellit-footer-of-page>
