.product-list{
  padding: 0 0 48px;
}
.product-item{
  margin: 0 0 23px;

  strong{
    display: block;
    position: relative;
    height: 50px;
    padding: 0 40px 0 13px;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    background: #00b3be;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .fa-eye{
      position: absolute;
      top: 16px;
      right: 14px;
      cursor: pointer;
      font-size: 18px;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
