<div class="user-block">
  <div class="user-block-not-authorized" style="display: none;">
    <p>Welcome, <a href="#">login</a> or <a href="#">register</a> for start !</p>
  </div>
  <div class="user-block-authorized">
      <a class="user-profile-link" href="#"><img src="assets/img/user.png" alt=""></a>
      <span class="user-name">Kim Evans</span>
      <a class="user-sign-out-link fa fa-sign-out" href="#">&nbsp;</a>
  </div>
  <ul class="user-block-menu">
    <li><a href="#">Add new post</a></li>
    <li><a href="#">Profile</a></li>
  </ul>
</div>
