<div class="user-block">
  <div class="user-block-not-authorized" *ngIf="!myAuth.isLogin; else isAuthorized">
    <p>Welcome, <a routerLink="/login">login</a> or <a routerLink="/register">register</a> for start !</p>
  </div>
  <ng-template #isAuthorized>
    <div class="user-block-authorized">
        <span class="user-profile-link" (click)="toggleUserMenu()"><img src="assets/img/user.png" alt=""></span>
        <span class="user-name">{{myAuth.user.username}}</span>
        <span class="user-sign-out-link fa fa-sign-out" (click)="logOut()">&nbsp;</span>
    </div>
    <ul class="user-block-menu" *ngIf="toggleMenu">
      <li><a routerLink="/add-product">Add new post</a></li>
      <li><a routerLink="/edit-profile">Profile</a></li>
    </ul>
  </ng-template>
</div>
